* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.contenedor {
  display: grid;
  width: 100%;
  background-image: url(../img/FondoMatrix.gif);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Audiowide', cursive;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  position: relative;
  z-index: 20; }

.header {
  border: black solid 1px;
  border-radius: 10px;
  margin: 10px;
  display: grid;
  grid-area: header;
  background-image: url(../img/FondoHeader.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 30; }

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-duration: 2s;
  animation-name: titulo;
  animation-iteration-count: infinite; }

@keyframes titulo {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }

.imagenLogo {
  width: 150px; }

.inicio {
  font-size: 20px;
  color: white; }

li:hover, li:hover li {
  font-weight: bold;
  font-size: 22px; }

.mainIndex {
  margin: 10px;
  grid-area: main; }

.imagen1 {
  width: 10px;
  height: 600px; }

.sectionImagenTexto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  animation-duration: 2s;
  animation-name: flota;
  animation-iteration-count: infinite; }

@keyframes flota {
  0% {
    opacity: 0.8;
    transform: translatey(-10px); }
  50% {
    opacity: 0.9;
    transform: translatey(0px); }
  100% {
    opacity: 0.9;
    transform: translatey(-10px); } }

.textoMain {
  display: flex;
  background-image: url(../img/imagenMain.jpg);
  background-size: cover;
  border-radius: 10px;
  width: 70%;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 1s entrada 1;
  color: #14dd14; }

@keyframes entrada {
  0% {
    opacity: 0;
    transform: translatex(-200%) skewX(30deg); }
  50% {
    opacity: 0.8;
    transform: translatex(-20%) skewX(-30deg); }
  80% {
    opacity: 1;
    transform: translatex(0%) skewX(15deg); } }

.parrafoMain {
  text-align: center;
  font-size: 25px;
  margin-top: 50px; }

.fotoMain {
  width: 50%;
  animation: 1s veloz2 1; }

@keyframes veloz2 {
  0% {
    opacity: 0;
    transform: translatex(200%) skewX(-30deg); }
  50% {
    opacity: 0.8;
    transform: translatex(20%) skewX(30deg); }
  80% {
    opacity: 1;
    transform: translatex(0%) skewX(-15deg); } }

.imagenMain {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.productos {
  color: #14dd14;
  text-align: center; }

.productosh2 {
  color: #14dd14;
  text-align: center; }

.contenedorDeProductos {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.fotoProducto {
  border: solid 2px #14dd14;
  border-radius: 10px;
  background-color: white;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 5px;
  display: grid;
  grid-template-rows: 75% 16% 5%;
  align-items: center; }

.fotoProducto:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.5s;
  border: solid 5px #14dd14; }

.fotoProducto img {
  width: 100%; }

.fotoProducto p {
  color: #14dd14;
  background-color: black;
  border: solid 1px #14dd14;
  border-radius: 10px;
  margin-bottom: auto; }

.computacion, .electricidad {
  color: #14dd14;
  text-align: center; }

.sectionTextoComputacion, .sectionTextoElectricidad {
  display: flex;
  flex-direction: row; }

.textoComputacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.parrafoMainComputacion, .parrafoMainElectricidad {
  color: #14dd14;
  text-align: center;
  font-size: 20px;
  border: solid 1px white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 200px;
  background-color: black;
  animation: 2s fade 1; }

.parrafoMainComputacion:hover, .parrafoMainElectricidad:hover {
  font-size: 23px;
  border: solid 5px;
  transform: scale(1.1);
  transition: 0.5s; }

.parrafoMainComputacion i, .parrafoMainElectricidad i {
  font-size: 60px;
  color: white; }

@keyframes fade {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  80% {
    opacity: 0.8; } }

.mainContacto {
  display: flex;
  flex-direction: column;
  align-items: center; }

.formulario {
  width: 350px;
  background-color: lightgreen;
  border: solid 5px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: 'Audiowide', cursive;
  font-size: 20px; }

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center; }

fieldset div {
  display: flex;
  flex-direction: column;
  align-items: center; }

input {
  border-radius: 10px;
  margin: 5px; }

.siNo {
  display: flex;
  flex-direction: row; }

.footer {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 10px; }

.redes {
  text-align: center; }
  .redes a i {
    font-size: 40px;
    margin: 10px;
    color: #14dd14; }

.mail {
  text-align: center; }
  .mail a {
    text-decoration: none;
    color: #14dd14; }

.imagenFooter {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  border-radius: 10px; }

.imagenFooter:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.5s; }

.menu {
  text-align: center; }

.linkFooter {
  text-decoration: none;
  color: #14dd14; }
