.header{
    border: black solid 1px;
    border-radius: 10px;
    margin: 10px;
    display: grid;
    grid-area: header;
    background-image: url(../img/FondoHeader.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 30;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-duration: 2s;
    animation-name: titulo;
    animation-iteration-count: infinite;
}
@keyframes titulo {
0% {
  opacity: 0.5; }
50% {
  opacity: 1; }
100% {
  opacity: 0.5; } }

.imagenLogo{
    width: 150px;
}
.inicio{
    font-size: 20px;
    color: white;
}
li:hover{
    font-weight: bold;
    font-size: 22px;
}
li:hover li{
    @extend li:hover;
}